.body_cards {
    align-items: center;
    margin: 30px 200px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%  ;
    gap: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

@media (max-width: 1460px) {
    .body_cards {
        grid-template-columns: 33% 33% 33% ;
        gap: 5px;
    }
    
}

@media (max-width: 1195px) {
    .body_cards {
        grid-template-columns: 50% 50% ;
        gap: 5px;
    }
    
}

@media (max-width: 935px) {
    .body_cards {
        grid-template-columns: 100%;
        gap: 5px;
    }
    
}